/*----------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
ul[class],
ol[class] {
  padding: 0;
}
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}
div,a {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
}
/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}
html,
body {
  height: 100%;
  line-height: 1;
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
/*----------------------------------------------------------*/
._container {
  
  margin: 0 auto;
  max-width: 1440px;
  /*min-height: 70px;  
  align-items: center;
  width: 100%;
  */
  box-sizing: content-box;
}
/*----------------------------------------------------------*/
.header__container {
  min-height: 70px;
  align-items: center;

}
.header__row {
  margin: 0 15px;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 70px;
}
.header {
  /*position:absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  */
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}
/*----------------------------------------------------------*/
body {
  background: #E5E5E5;
}
/*----------------------------------------------------------*/
.logo__text {
  color: #1F2041;
  font-weight: 600;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  display: flex;
}
._logo__text__footer {
  margin-left: 0px;
}
/*----------------------------------------------------------*/
.text_decor {
  color: #1F2041;
  font-weight: 600;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  text-decoration: none;
}
.text_decor:before {
  content: "";
  width: 80%;
  height: 1.2px;
  background: #1F2041;
  position: absolute;
  top: 46.1%;
  left: 2px;
  transform: rotate(40deg);
}
/*---------------------------------*/
.header__logo {
  display: flex;
  align-items: center;
  padding: 20px 15px;
}
._header__logo {
  display: flex;
  align-items: center;
}
a {
  text-decoration: none;
}
.nav__items {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
._button {
  display: flex;
  align-items: center;
}
.header__button {
  margin-left: 7px;
}
.nav__link  {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  padding: 20px 15px;
  text-align: center;
  /* Dark 50% */
  color: rgba(31, 32, 65, 0.5);
}
._about {
  font-family: 'Montserrat', sans-serif;
  color: rgba(31, 32, 65, 0.75);
  font-weight: 700;
}
/*----------------------------------------------------------*/
.button {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  border-radius: 22px;
  text-transform: uppercase;
  background: none;
  border: 3.3px solid #BC9CFF;
  align-items: center;
  /* Primary Color */
  color: #BC9CFF;
  padding: 14px;
}
._reg {
  color: #FFFFFF;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}
.button:not(:last-child) {
  margin-right: 30px;
}
/*----------------------------------------------------------*/
.line {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: rgba(31, 32, 65, 0.5);
  border-left: 2px solid rgba(31, 32, 65, 0.1);
  padding-left:30px;
  padding: 20px 15px;
}
/*------------------main----------------------------------*/
.main-block__body {
  
}
.main {
  flex: 1 1 auto;
}
.main-block__row {
  margin: 0 15px ;
}
/*------------------footer----------------------------------*/
.footer {
  background: #FFFFFF;
  box-shadow: 0px 1px 0px rgba(31, 32, 65, 0.1);
}
.footer__top {
  padding: 80px 0;
}
.footer__main {
  display: flex;
}
._container {
}
.footer__column {
  padding: 20px 15px;
  flex: 0 1 20%;
  min-width: 170px;
}
@media (max-width:992px) {
  .footer__column {
    flex: 0 1 25%;
  }
  .footer__column:last-child {
    flex: 0 1 100%;
  }
  input[type="submit"] {
    top: -38px;
  }
}
._block-logo {
}
.footer__row {  
  margin: 0 15px;
  display: flex;
  flex-wrap: wrap;
}
._bottom__row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 15px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  min-height: 70px;
}
._container__footer__bottom {

}
.text_decor {
}
.footer__label {
  color: rgba(31, 32, 65, 0.75);
  font-weight: 700;
  text-transform: uppercase;
}
@media (max-width:1000px) {
  .footer__label {
    font-size: 10px;
  }
  .footer__text {
    font-size: 10px;
  }
  
}
.footer__menu {
}
.menu-footer {
}
.menu-footer__list {
}
.menu-footer__item {
  margin-top: 21px ;
}
.menu-footer__link {
  /* Dark 50% */
  color: rgba(31, 32, 65, 0.5);
}
input[type="text"]{
  
   
}
input::placeholder {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */
  /* Dark 25% */
  color: rgba(31, 32, 65, 0.25);
}
.menu-footer__input {
 
  
}
.footer__text {
  color: rgba(31, 32, 65, 0.75);
  margin-top: 30px;
  
}
.footer__bottom {
}
.footer__container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  min-height: 70px;
}
.footer__copy {
  color: rgba(31, 32, 65, 0.75);
  padding: 20px 15px;
}
.footer__social {
  padding: 20px 15px;
}
.social {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width:270px) {
  .social__item {
    margin: 0px 20px 10px 0px !important;
  }
}
.social__item:not(:last-child) {
  margin: 0 20px 0 0 ;
}
@media (max-width:815px) {
  .line {
    border-left: 0px;
  }
}

.search {
  
  min-height: 20px; /* Минимальная высота */
  display: flex;
  justify-content: space-between;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
 }
 input[type="text"] {
  align-items: center;
  background: #FFFFFF;
  outline:none;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 10px;
  width: 100%;
  font-family: inherit;
  font-weight: 700;
 }
 input[type="submit"] {
  width: 38px; /* Ширина кнопки */
  height: 38px; /* Высота кнопки */
  border: none; /* Убираем рамку */
  background: url('../image/search.png') center no-repeat; /* Параметры фона */
  cursor: pointer ;
 }
/*----------------------------------------------------------*/
